
<article>

 <header>
   <hgroup>
     <h1>Wonderful Web</h1>
     <h2>An exploration of web APIs</h2>
    </hgroup>
  </header>

  <section>
    <h2>Input</h2>

    <table>
      <tr>
        <th><details><summary>Keyboard</summary>
          <p>Typically used for typing.</p>
          </details>
          </th>
        <td id="keyboard"></td>
      </tr>

      <tr>
        <th>
          <details>
            <summary>Pointer</summary>
            <p>The on-screen cursor, usually controlled by a mouse, trackpad or rollerball.</p>
          </details>
        </th>
        <td id="pointer"></td>
      </tr>

      <tr>
        <th>
          <details>
            <summary>Touch</summary>
            <p>Interactions on touch-screens.</p>
          </details>
        </th>
        <td id="touch"></td>
      </tr>

    </table>

  </section>

  <section>
    <h2>Preferences</h2>

    <table>
      <tr>
        <th>Language</th>
        <td id="language"></td>
      </tr>

      <tr>
        <th>Do Not Track</th>
        <td id="do-not-track"></td>
      </tr>

    </table>
  </section>

  <section>
    <h2>Storage</h2>

    <table>

      <tr>
        <th><details><summary>Cookies</summary>
          <p>Small data files, typically used for tracking or saving preferences.</p>
          </details></th>
        <td id="cookies"></td>
      </tr>

      <tr>
        <th>Local Storage</th>
        <td id="local-storage"></td>
      </tr>

      <tr>
        <th>Session Storage</th>
        <td id="session-storage"></td>
      </tr>
    </table>

  </section>

  <section>
    <h2>Display</h2>

    <table>
      <tr>
        <th>Screen Orientation</th>
        <td id="screen-orientation"></td>
      </tr>

      <tr>
        <th>Window Size</th>
        <td id="window-size"></td>
      </tr>

      <tr>
        <th>Screen Size</th>
        <td id="screen-size"></td>
      </tr>

      <tr>
        <th>Color Depth</th>
        <td id="color-depth"></td>
      </tr>

      <tr>
        <th>Full Screen</th>
        <td id="full-screen"></td>
      </tr>
    </table>

  </section>

  <section>

    <h2>Status</h2>

    <table>
      <tr>
        <th>Geolocation</th>
        <td id="geolocation-data"></td>
      </tr>

      <tr>
        <th>Camera</th>
        <td id="camera-data"></td>
      </tr>

      <tr>
        <th>Vibration</th>
        <td id="vibration"></td>
      </tr>

      <tr>
        <th>Battery Status</th>
        <td id="battery-status"></td>
      </tr>

      <tr>
        <th>Network Status</th>
        <td id="network-status"></td>
      </tr>

      <tr>
        <th>Platform</th>
        <td id="platform"></td>
      </tr>

      <tr>
        <th>Referrer</th>
        <td id="referrer"></td>
      </tr>

      <tr>
        <th>File Reader</th>
        <td id="file-reader"></td>
      </tr>

    </table>
  </section>

  <section>
    <h2>Software</h2>

    <table>

      <tr>
        <th>Javascript</th>
        <td id="javascript"><noscript>Unavailable</noscript></td>
      </tr>

      <tr>
        <th>Java</th>
        <td id="java"></td>
      </tr>

      <tr>
        <th>Plugins</th>
        <td id="plugins"></td>
      </tr>

      <tr>
        <th>Content types</th>
        <td id="mime-types"></td>
      </tr>

    </table>
  </section>

  <section>
    <h2>Identity</h2>

    <table>
      <tr>
        <th>Application Name</th>
        <td id="application-name"></td>
      </tr>

      <tr>
        <th>Version</th>
        <td id="application-version"></td>
      </tr>

      <tr>
        <th>User Agent</th>
        <td id="user-agent"></td>
      </tr>
    </table>

  </section>

</article>