body {
  color: #000; background-color: #FFF;
}

.success {  }

.green {color: #009F6B;}
.blue {color: #0087BD; }

.blank,
.empty { color: #BBB; }
.unavailable, .error { color: #C40233}

details summary {
  color: #000;
}

details {
  color: #999;
}

.info,
details summary:after {
  color: #888;
}